In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
df = pd.read_csv('dataset/clean.csv')

In [91]:
df.head()

,Day_of_week,Age_band_of_driver,Sex_of_driver,Educational_level,Vehicle_driver_relation,Driving_experience,Type_of_vehicle,Owner_of_vehicle,Service_year_of_vehicle,Defect_of_vehicle,...,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Work_of_casuality,Fitness_of_casuality,Pedestrian_movement,Cause_of_accident,Accident_severity,Hour_of_Day
0,0,1,0,5,1,2,4,0,4,0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Normal,Not a Pedestrian,Moving Backward,Slight Injury,17
1,0,2,0,2,1,5,6,0,3,0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Normal,Not a Pedestrian,Overtaking,Slight Injury,17
2,0,1,0,2,1,2,7,0,5,0,...,Driver or rider,Male,31-50,3,Driver,Normal,Not a Pedestrian,Changing lane to the left,Serious Injury,17
3,6,1,0,2,1,4,6,1,5,0,...,Pedestrian,Female,18-30,3,Driver,Normal,Not a Pedestrian,Changing lane to the right,Slight Injury,1
4,6,1,0,2,1,2,8,0,3,0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Normal,Not a Pedestrian,Overtaking,Slight Injury,1

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12316 entries, 0 to 12315
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Day_of_week                  12316 non-null  int64
 1   Age_band_of_driver           12316 non-null  int64
 2   Sex_of_driver                12316 non-null  int64
 3   Educational_level            12316 non-null  int64
 4   Vehicle_driver_relation      12316 non-null  int64
 5   Driving_experience           12316 non-null  int64
 6   Type_of_vehicle              12316 non-null  int64
 7   Owner_of_vehicle             12316 non-null  int64
 8   Service_year_of_vehicle      12316 non-null  int64
 9   Defect_of_vehicle            12316 non-null  int64
 10  Area_accident_occured        12316 non-null  int64
 11  Lanes_or_Medians             12316 non-null  int64
 12  Road_allignment              12316 non-null  int64
 13  Types_of_Junction            12316 non-null  int64
 14  Road_surface_type            12316 non-null  int64
 15  Road_surface_conditions      12316 non-null  int64
 16  Light_conditions             12316 non-null  int64
 17  Weather_conditions           12316 non-null  int64
 18  Type_of_collision            12316 non-null  object
 19  Number_of_vehicles_involved  12316 non-null  int64
 20  Number_of_casualties         12316 non-null  int64
 21  Vehicle_movement             12316 non-null  object
 22  Casualty_class               12316 non-null  object
 23  Sex_of_casualty              12316 non-null  object
 24  Age_band_of_casualty         12316 non-null  object
 25  Casualty_severity            12316 non-null  object
 26  Work_of_casuality            12316 non-null  object
 27  Fitness_of_casuality         12316 non-null  object
 28  Pedestrian_movement          12316 non-null  object
 29  Cause_of_accident            12316 non-null  object
 30  Accident_severity            12316 non-null  object
 31  Hour_of_Day                  12316 non-null  int64
dtypes: int64(21), object(11)
memory usage: 3.0+ MB

In [5]:
df['Day_of_week'].value_counts()

Friday       2041
Thursday     1851
Wednesday    1840
Tuesday      1770
Monday       1681
Saturday     1666
Sunday       1467
Name: Day_of_week, dtype: int64

In [6]:
import pandas as pd


# define the label dictionary
label = {'Monday': 0, 'Tuesday': 1, 'Wednesday':2, 'Thursday':3,'Friday':4,'Saturday':5, 'Sunday':6}

# replace the values in the 'Day_of_week' column using the label dictionary
df['Day_of_week'] = df['Day_of_week'].replace(label)

In [7]:
df['Sex_of_driver'].value_counts()

Male       11437
Female       701
Unknown      178
Name: Sex_of_driver, dtype: int64

In [8]:
label = {'Male': 0, 'Female': 1, 'Unknown':2}

df['Sex_of_driver'] = df['Sex_of_driver'].replace(label)

In [114]:
df.head()

,Day_of_week,Age_band_of_driver,Sex_of_driver,Educational_level,Vehicle_driver_relation,Driving_experience,Type_of_vehicle,Owner_of_vehicle,Service_year_of_vehicle,Defect_of_vehicle,...,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Work_of_casuality,Fitness_of_casuality,Pedestrian_movement,Cause_of_accident,Accident_severity,Hour_of_Day
0,0,1,0,5,1,2,4,0,4,0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Normal,Not a Pedestrian,Moving Backward,Slight Injury,17
1,0,2,0,2,1,5,6,0,3,0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Normal,Not a Pedestrian,Overtaking,Slight Injury,17
2,0,1,0,2,1,2,7,0,5,0,...,Driver or rider,Male,31-50,3,Driver,Normal,Not a Pedestrian,Changing lane to the left,Serious Injury,17
3,6,1,0,2,1,4,6,1,5,0,...,Pedestrian,Female,18-30,3,Driver,Normal,Not a Pedestrian,Changing lane to the right,Slight Injury,1
4,6,1,0,2,1,2,8,0,3,0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Normal,Not a Pedestrian,Overtaking,Slight Injury,1

In [10]:
df['Educational_level'].value_counts()

Junior high school    8360
Elementary school     2163
High school           1110
Above high school      362
Writing & reading      176
Unknown                100
Illiterate              45
Name: Educational_level, dtype: int64

In [11]:
label = {'Illiterate':0, 'Writing & reading':1,'Junior high school':2,'Elementary school':3,'High school':4,'Above high school':5,'Unknown':6}
df['Educational_level'] = df['Educational_level'].replace(label)

In [12]:
df['Vehicle_driver_relation'].value_counts()

Employee    9627
Owner       1973
Unknown      593
Other        123
Name: Vehicle_driver_relation, dtype: int64

In [13]:
df['Vehicle_driver_relation'] = df['Vehicle_driver_relation'].replace('Unknown', 'Other')

In [14]:
label = {'Other': 0, 'Employee': 1, 'Owner':2}

df['Vehicle_driver_relation'] = df['Vehicle_driver_relation'].replace(label)

In [15]:
df['Driving_experience'].value_counts()

5-10yr        3363
2-5yr         2613
Above 10yr    2262
1-2yr         1756
Below 1yr     1342
unknown        862
No Licence     118
Name: Driving_experience, dtype: int64

In [16]:
label = {'No Licence':0, 'Below 1yr':1,'1-2yr':2,'2-5yr':2,'5-10yr':4,'Above 10yr':5,'unknown':6}
df['Driving_experience'] = df['Driving_experience'].replace(label)

In [17]:
df['Age_band_of_driver'].value_counts()

18-30       4271
31-50       4087
Over 51     1585
Unknown     1548
Under 18     825
Name: Age_band_of_driver, dtype: int64

In [18]:
label = {'Under 18' :0, '18-30':1, '31-50':2,'Over 51': 3, 'Unknown':4}
df['Age_band_of_driver'] = df['Age_band_of_driver'].replace(label)

In [90]:
df['Type_of_vehicle'].value_counts()

4    3938
7    3110
8    2242
6    1647
5     811
3     265
2     206
0      76
1      21
Name: Type_of_vehicle, dtype: int64

In [88]:
df['Type_of_vehicle'] = df['Type_of_vehicle'].replace("Lorry (41?100Q)","Lorry")
df['Type_of_vehicle'] = df['Type_of_vehicle'].replace("Lorry (11?40Q)","Lorry")
df['Type_of_vehicle'] = df['Type_of_vehicle'].replace("Long lorry","Lorry")
df['Type_of_vehicle'] = df['Type_of_vehicle'].replace("Pick up upto 10Q","Pick Up")
df['Type_of_vehicle'] = df['Type_of_vehicle'].replace("Public (12 seats)","Public")
df['Type_of_vehicle'] = df['Type_of_vehicle'].replace("Public (13?45 seats)","Public")
df['Type_of_vehicle'] = df['Type_of_vehicle'].replace("Public (> 45 seats)","Public")
df['Type_of_vehicle'] = df['Type_of_vehicle'].replace("Bajaj","Motorcycle")
df['Type_of_vehicle'] = df['Type_of_vehicle'].replace("Stationwagen","Automobile")
df['Type_of_vehicle'] = df['Type_of_vehicle'].replace("Special vehicle","Other")
df['Type_of_vehicle'] = df['Type_of_vehicle'].replace("Turbo","Automobile")

In [89]:
label = {'Ridden horse' : 0, 'Bicycle':1, 'Motorcycle':2,'Taxi':3,'Automobile':4,'Pick Up':5,'Public':6,'Lorry':7,'Other':8}
df['Type_of_vehicle'] = df['Type_of_vehicle'].replace(label)

In [22]:
df['Owner_of_vehicle'].value_counts()

Owner           10941
Governmental     1041
Organization      312
Other              22
Name: Owner_of_vehicle, dtype: int64

In [23]:
label = {'Owner': 0, 'Governmental': 1, 'Organization':2,'Other':3}

df['Owner_of_vehicle'] = df['Owner_of_vehicle'].replace(label)

In [24]:
df['Service_year_of_vehicle'].value_counts()

Unknown       6811
2-5yrs        1792
Above 10yr    1324
5-10yrs       1280
1-2yr          827
Below 1yr      282
Name: Service_year_of_vehicle, dtype: int64

In [25]:
label = {'Below 1yr':0,'1-2yr':1,'2-5yrs':2,'5-10yrs':3,'Above 10yr':4,'Unknown':5}
df['Service_year_of_vehicle'] = df['Service_year_of_vehicle'].replace(label)

In [58]:
df['Defect_of_vehicle'].value_counts()

0    12204
7       76
5       36
Name: Defect_of_vehicle, dtype: int64

In [56]:
df['Defect_of_vehicle'] = df['Defect_of_vehicle'].replace('No defect',0)

In [57]:
df['Defect_of_vehicle'] = df ['Defect_of_vehicle'].astype('int64')

In [75]:
df['Area_accident_occured'].value_counts()

10    4080
9     3451
8     2060
7     1060
6      456
5      415
4      328
3      218
2      121
1       64
0       63
Name: Area_accident_occured, dtype: int64

In [31]:
df['Area_accident_occured']= df['Area_accident_occured'].replace(' Industrial areas','Industrail Areas')

In [32]:
df['Area_accident_occured']= df['Area_accident_occured'].replace(' Outside rural areas', 'Outside Rural Areas')

In [33]:
df['Area_accident_occured']= df['Area_accident_occured'].replace('Unknown','Other')`

In [64]:
df['Area_accident_occured']= df['Area_accident_occured'].replace('  Recreational areas', 'Recreational Areas')

In [66]:
df['Area_accident_occured']= df['Area_accident_occured'].replace(' Hospital areas', 'Hospital Areas')

In [71]:
df['Area_accident_occured']= df['Area_accident_occured'].replace('  Market areas', 'Market Areas')

In [69]:
df['Area_accident_occured']= df['Area_accident_occured'].replace('Rural village areasOffice areas', 'Rural village areas')

In [74]:
label = {'Market Areas':0,'Rural village areas' : 1, 'Hospital Areas': 2,
        'Outside Rural Areas': 3, 'Recreational Areas': 4,
        'School areas': 5, 'Industrail Areas': 6,
        'Church Areas': 7, 'Residential areas': 8,
        'Office areas': 9, 'Other': 10}
df['Area_accident_occured']= df['Area_accident_occured'].replace(label)

In [35]:
df['Area_accident_occured'].value_counts()

10                                 4080
9                                  3451
8                                  2060
 Church areas                      1060
6                                   456
5                                   415
  Recreational areas                327
3                                   218
 Hospital areas                     121
  Market areas                       63
1                                    44
Rural village areasOffice areas      20
4                                     1
Name: Area_accident_occured, dtype: int64

In [96]:
df['Lanes_or_Medians'].value_counts()

4    4411
3    3796
5    2102
2    1020
1     845
0     142
Name: Lanes_or_Medians, dtype: int64

In [37]:
df['Lanes_or_Medians']= df['Lanes_or_Medians'].replace("Two-way (divided with broken lines road marking)","Divided Two way")

In [38]:
df['Lanes_or_Medians']= df['Lanes_or_Medians'].replace('Two-way (divided with solid lines road marking)','Solid line Two Way')

In [94]:
df['Lanes_or_Medians']= df['Lanes_or_Medians'].replace('other','Other')
df['Lanes_or_Medians']= df['Lanes_or_Medians'].replace('Unknown','Other')

In [95]:
label = {'Solid line Two Way': 0, 'One way': 1, 'Double carriageway (median)' : 2,'Undivided Two way':3,'Divided Two way':4,'Other':5}
df['Lanes_or_Medians']= df['Lanes_or_Medians'].replace(label)

In [41]:
df['Road_allignment'].value_counts()

Tangent road with flat terrain                   10601
Tangent road with mild grade and flat terrain      501
Steep grade downward with mountainous terrain      429
Tangent road with mountainous terrain and          396
Gentle horizontal curve                            163
Escarpments                                        113
Sharp reverse curve                                 57
Tangent road with rolling terrain                   37
Steep grade upward with mountainous terrain         19
Name: Road_allignment, dtype: int64

In [98]:
df['Road_allignment']= df['Road_allignment'].replace("Tangent road with flat terrain","Tangent(Flat terrian)")
df['Road_allignment']= df['Road_allignment'].replace("Tangent road with mild grade and flat terrain","Tangent(Flat terrain, mild grade)")
df['Road_allignment']= df['Road_allignment'].replace("Steep grade downward with mountainous terrain","downward(mountain terrain,Steep grade)")
df['Road_allignment']= df['Road_allignment'].replace("Tangent road with mountainous terrain and","Tangent(mountain terrain)")
df['Road_allignment']= df['Road_allignment'].replace("Steep grade upward with mountainous terrain","upward(mountain terrain,Steep grade)")
df['Road_allignment']= df['Road_allignment'].replace("Tangent road with rolling terrain","Tangent(Rolling terrian)")

In [99]:
label = {'upward(mountain terrain,Steep grade)': 0,
        'Tangent(Rolling terrian)' : 1,
        'Sharp reverse curve': 2,
        'Escarpments': 3,
        'Gentle horizontal curve': 4,
        'Tangent(mountain terrain)': 5,
         'downward(mountain terrain,Steep grade)':6,
         'Tangent(Flat terrain, mild grade)':7,
         'Tangent(Flat terrian)':8}

In [100]:
df['Road_allignment'] = df['Road_allignment'].replace(label)

In [101]:
df['Road_allignment'].value_counts()

8    10601
7      501
6      429
5      396
4      163
3      113
2       57
1       37
0       19
Name: Road_allignment, dtype: int64

In [47]:
df['Types_of_Junction'].value_counts()

Y Shape        4543
No junction    3837
Crossing       2177
Unknown        1078
Other           445
O Shape         164
T Shape          60
X Shape          12
Name: Types_of_Junction, dtype: int64

In [48]:
label = {'X Shape':0, 'T Shape':1, 'O Shape': 2,'Crossing':3, 'No junction': 4, 'Y Shape': 5, 'Unknown':6, 'Other':6}
df['Types_of_Junction'] = df['Types_of_Junction'].replace(label)

In [49]:
df['Types_of_Junction'].value_counts()

5    4543
4    3837
3    2177
6    1523
2     164
1      60
0      12
Name: Types_of_Junction, dtype: int64

In [53]:
df['Road_surface_type'].value_counts()

3    11296
2      358
4      339
1      242
0       81
Name: Road_surface_type, dtype: int64

In [51]:
label = {'Asphalt roads with some distress':0, 'Gravel roads': 1, 'Earth roads': 2, 'Asphalt roads': 3, 'Unknown': 4, 'Other':4}

In [52]:
df['Road_surface_type'] = df['Road_surface_type'].replace(label)

In [103]:
df['Road_surface_conditions'].value_counts()

Dry                     9340
Wet or damp             2904
Snow                      70
Flood over 3cm. deep       2
Name: Road_surface_conditions, dtype: int64

In [104]:
label = {'Flood over 3cm. deep': 0, 'Snow':1,'Wet or damp':2, 'Dry':3}
df['Road_surface_conditions'] = df['Road_surface_conditions'].replace(label)

In [105]:
df['Road_surface_conditions'].value_counts()

3    9340
2    2904
1      70
0       2
Name: Road_surface_conditions, dtype: int64

In [106]:
df['Light_conditions'].value_counts()

Daylight                   8798
Darkness - lights lit      3286
Darkness - no lighting      192
Darkness - lights unlit      40
Name: Light_conditions, dtype: int64

In [109]:
label = {'Darkness - lights unlit': 0, 'Darkness - no lighting':1,'Darkness - lights lit':2, 'Daylight':3}
df['Light_conditions'] = df['Light_conditions'].replace(label)

In [110]:
df['Light_conditions'].value_counts()

3    8798
2    3286
1     192
0      40
Name: Light_conditions, dtype: int64

In [111]:
df['Weather_conditions'].value_counts()

Normal               10063
Raining               1331
Other                  296
Unknown                292
Cloudy                 125
Windy                   98
Snow                    61
Raining and Windy       40
Fog or mist             10
Name: Weather_conditions, dtype: int64

In [112]:
label = {'Fog or mist':0,'Raining and Windy' : 1, 'Snow': 2,
        'Windy': 3, 'Cloudy': 4,
        'Raining': 5, 'Normal': 6,
        'Other': 7, 'Unknown': 7}
df['Weather_conditions']= df['Weather_conditions'].replace(label)

In [113]:
df['Weather_conditions'].value_counts()

6    10063
5     1331
7      588
4      125
3       98
2       61
1       40
0       10
Name: Weather_conditions, dtype: int64

In [116]:
df['Type_of_collision'].value_counts()

Vehicle with vehicle collision             8774
Collision with roadside objects            1786
Collision with pedestrians                  896
Rollover                                    397
Collision with animals                      171
Unknown                                     169
Collision with roadside-parked vehicles      54
Fall from vehicles                           34
Other                                        26
With Train                                    9
Name: Type_of_collision, dtype: int64

In [118]:
label = {'With Train':0,'Fall from vehicles' : 1, 'Collision with roadside-parked vehicles': 2,
        'Collision with animals': 3, 'Rollover': 4,
        'Collision with pedestrians': 5, 'Collision with roadside objects': 6,
        'Vehicle with vehicle collision': 7, 'Other': 8,
        'Unknown': 8}
df['Type_of_collision']= df['Type_of_collision'].replace(label)

In [119]:
df['Type_of_collision'].value_counts()

7    8774
6    1786
5     896
4     397
8     195
3     171
2      54
1      34
0       9
Name: Type_of_collision, dtype: int64

In [122]:
df['Vehicle_movement'].value_counts()

Going straight         8158
Other                  1245
Moving Backward         985
Reversing               563
Turnover                489
Getting off             339
Entering a junction     193
Overtaking               96
Unknown                  88
Stopping                 61
U-Turn                   50
Waiting to go            39
Parked                   10
Name: Vehicle_movement, dtype: int64

In [123]:
label = {'Parked':0,'Waiting to go' : 1, 'U-Turn': 2,
        'Stopping': 3, 'Overtaking': 4,
        'Entering a junction': 5, 'Getting off': 6,
        'Turnover': 7, 'Reversing': 8,
        'Moving Backward': 9, 'Going straight': 10, 'Other':11,
        'Unknown' : 11}
df['Vehicle_movement']= df['Vehicle_movement'].replace(label)

In [127]:
df['Vehicle_movement'].value_counts()

10    8158
11    1333
9      985
8      563
7      489
6      339
5      193
4       96
3       61
2       50
1       39
0       10
Name: Vehicle_movement, dtype: int64

In [128]:
df['Casualty_class'].value_counts()

Driver or rider    4944
Unknown            4443
Pedestrian         1649
Passenger          1280
Name: Casualty_class, dtype: int64

In [135]:
labels = {'Passenger': 0, 'Pedestrian':1,'Driver or rider': 2,'Unknown':3}
df['Casualty_class']=df['Casualty_class'].replace(labels)

In [136]:
df['Casualty_class'].value_counts()

2    4944
3    4443
1    1649
0    1280
Name: Casualty_class, dtype: int64

In [139]:
df['Sex_of_casualty'].value_counts()

Male       5253
Unknown    4443
Female     2620
Name: Sex_of_casualty, dtype: int64

In [140]:
label = {'Male': 0, 'Female': 1, 'Unknown':2}

df['Sex_of_casualty'] = df['Sex_of_casualty'].replace(label)

In [141]:
df['Sex_of_casualty'].value_counts()

0    5253
2    4443
1    2620
Name: Sex_of_casualty, dtype: int64

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12316 entries, 0 to 12315
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Day_of_week                  12316 non-null  int64
 1   Age_band_of_driver           12316 non-null  int64
 2   Sex_of_driver                12316 non-null  int64
 3   Educational_level            12316 non-null  int64
 4   Vehicle_driver_relation      12316 non-null  int64
 5   Driving_experience           12316 non-null  int64
 6   Type_of_vehicle              12316 non-null  int64
 7   Owner_of_vehicle             12316 non-null  int64
 8   Service_year_of_vehicle      12316 non-null  int64
 9   Defect_of_vehicle            12316 non-null  int64
 10  Area_accident_occured        12316 non-null  int64
 11  Lanes_or_Medians             12316 non-null  int64
 12  Road_allignment              12316 non-null  int64
 13  Types_of_Junction            12316 non-null  int64
 14  Road_surface_type            12316 non-null  int64
 15  Road_surface_conditions      12316 non-null  int64
 16  Light_conditions             12316 non-null  int64
 17  Weather_conditions           12316 non-null  int64
 18  Type_of_collision            12316 non-null  int64
 19  Number_of_vehicles_involved  12316 non-null  int64
 20  Number_of_casualties         12316 non-null  int64
 21  Vehicle_movement             12316 non-null  int64
 22  Casualty_class               12316 non-null  int64
 23  Sex_of_casualty              12316 non-null  int64
 24  Age_band_of_casualty         12316 non-null  int64
 25  Casualty_severity            12316 non-null  int64
 26  Work_of_casuality            12316 non-null  int64
 27  Fitness_of_casuality         12316 non-null  int64
 28  Pedestrian_movement          12316 non-null  object
 29  Cause_of_accident            12316 non-null  object
 30  Accident_severity            12316 non-null  object
 31  Hour_of_Day                  12316 non-null  int64
dtypes: int64(29), object(3)
memory usage: 3.0+ MB

In [144]:
df['Age_band_of_casualty'].value_counts()

Unknown     4443
18-30       3145
31-50       2455
Under 18    1279
Over 51      994
Name: Age_band_of_casualty, dtype: int64

In [145]:
label = {'Under 18' :0, '18-30':1, '31-50':2,'Over 51': 3, 'Unknown':4}
df['Age_band_of_casualty'] = df['Age_band_of_casualty'].replace(label)

In [146]:
df['Age_band_of_casualty'].value_counts()

4    4443
1    3145
2    2455
0    1279
3     994
Name: Age_band_of_casualty, dtype: int64

In [148]:
df['Casualty_severity'].value_counts()

3          7076
Unknown    4443
2           771
1            26
Name: Casualty_severity, dtype: int64

In [150]:
df['Casualty_severity'] = df['Casualty_severity'].replace('Unknown',0)

In [151]:
df['Casualty_severity'].value_counts()

3    7076
0    4443
2     771
1      26
Name: Casualty_severity, dtype: int64

In [158]:
df['Casualty_severity'] = df ['Casualty_severity'].astype('int64')

In [160]:
df['Work_of_casuality'].value_counts()

Driver           5903
Unknown          3217
Self-employed    2044
Employee          553
Other             463
Student           103
Unemployed         33
Name: Work_of_casuality, dtype: int64

In [165]:
label = {'Unemployed':0, 'Student':1, 'Employee': 2,'Self-employed':3, 'Driver': 4, 'Unknown': 5, 'Other':5}
df['Work_of_casuality'] = df['Work_of_casuality'].replace(label)

In [166]:
df['Work_of_casuality'].value_counts()

4    5903
5    3680
3    2044
2     553
1     103
0      33
Name: Work_of_casuality, dtype: int64

In [168]:
df['Fitness_of_casuality'].value_counts()

Normal          12243
NormalNormal       19
Deaf               18
Other              18
Blind              18
Name: Fitness_of_casuality, dtype: int64

In [199]:
df.to_csv('dataset/prep.csv', index=False)

In [191]:
df = pd.read_csv('dataset/prep.csv')

In [192]:
label = {'Blind' : 0, 'Deaf': 1, 'Normal' : 2,'NormalNormal':2, 'Other':3}
df['Fitness_of_casuality'] = df['Fitness_of_casuality'].replace(label)

In [193]:
df['Fitness_of_casuality'].value_counts()

2    12262
1       18
3       18
0       18
Name: Fitness_of_casuality, dtype: int64

In [174]:
df['Pedestrian_movement'].value_counts()

Not a Pedestrian                                                                                                                         11390
Crossing from nearside - masked by parked or statioNot a Pedestrianry vehicle                                                              337
Unknown or other                                                                                                                           293
Crossing from driver's nearside                                                                                                            140
Crossing from offside - masked by  parked or statioNot a Pedestrianry vehicle                                                               72
In carriageway, statioNot a Pedestrianry - not crossing  (standing or playing)                                                              46
Walking along in carriageway, back to traffic                                                                                               18
In carriageway, statioNot a Pedestrianry - not crossing  (standing or playing) - masked by parked or statioNot a Pedestrianry vehicle       13
Walking along in carriageway, facing traffic                                                                                                 7
Name: Pedestrian_movement, dtype: int64

In [177]:
label = {'Walking along in carriageway, facing traffic' : 0,
         'In carriageway, statioNot a Pedestrianry - not crossing  (standing or playing) - masked by parked or statioNot a Pedestrianry vehicle':1,
         'Walking along in carriageway, back to traffic':2,
         'In carriageway, statioNot a Pedestrianry - not crossing  (standing or playing)':3,
         'Crossing from offside - masked by  parked or statioNot a Pedestrianry vehicle':4,
         "Crossing from driver's nearside": 5,
         'Crossing from nearside - masked by parked or statioNot a Pedestrianry vehicle':6,
         "Not a Pedestrian":7,
        "Unknown or other": 8}

df['Pedestrian_movement'] = df['Pedestrian_movement'].replace(label)

In [179]:
df['Pedestrian_movement'].value_counts()

7    11390
6      337
8      293
5      140
4       72
3       46
2       18
1       13
0        7
Name: Pedestrian_movement, dtype: int64

In [195]:
df['Cause_of_accident'].value_counts()

No distancing                           2263
Changing lane to the right              1808
Changing lane to the left               1473
Driving carelessly                      1402
No priority to vehicle                  1207
Moving Backward                         1137
No priority to pedestrian                721
Other                                    456
Overtaking                               430
Driving under the influence of drugs     340
Driving to the left                      284
Getting off the vehicle improperly       197
Driving at high speed                    174
Overturning                              149
Turnover                                  78
Overspeed                                 61
Overloading                               59
Drunk driving                             27
Unknown                                   25
Improper parking                          25
Name: Cause_of_accident, dtype: int64

In [196]:
label = {'Improper parking':0,'Drunk driving':1, 'Overloading':2,'Overspeed':3,'Turnover':4,
        'Overturning':5, 'Driving at high speed':6,'Getting off the vehicle improperly':7,'Driving to the left':8,
        'Driving under the influence of drugs':9, 'Overtaking':10, 'No priority to pedestrian':11,'Moving Backward':12,
        'No priority to vehicle':12,'Driving carelessly':13,
        'Changing lane to the left':14, 'Changing lane to the right':15, 'No distancing':16, 'Unknown': 17,'Other':17}

In [197]:
df['Cause_of_accident'] = df['Cause_of_accident'].replace(label)

In [198]:
df['Cause_of_accident'].value_counts()

12    2344
16    2263
15    1808
14    1473
13    1402
11     721
17     481
10     430
9      340
8      284
7      197
6      174
5      149
4       78
3       61
2       59
1       27
0       25
Name: Cause_of_accident, dtype: int64

In [200]:
df.head()

,Day_of_week,Age_band_of_driver,Sex_of_driver,Educational_level,Vehicle_driver_relation,Driving_experience,Type_of_vehicle,Owner_of_vehicle,Service_year_of_vehicle,Defect_of_vehicle,...,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Work_of_casuality,Fitness_of_casuality,Pedestrian_movement,Cause_of_accident,Accident_severity,Hour_of_Day
0,0,1,0,5,1,2,4,0,4,0,...,3,2,4,0,5,2,7,12,Slight Injury,17
1,0,2,0,2,1,5,6,0,3,0,...,3,2,4,0,5,2,7,10,Slight Injury,17
2,0,1,0,2,1,2,7,0,5,0,...,2,0,2,3,4,2,7,14,Serious Injury,17
3,6,1,0,2,1,4,6,1,5,0,...,1,1,1,3,4,2,7,15,Slight Injury,1
4,6,1,0,2,1,2,8,0,3,0,...,3,2,4,0,5,2,7,10,Slight Injury,1

In [201]:
data = df.drop('Accident_severity', axis = 1)

labels = df['Accident_severity']

In [203]:
data.shape

(12316, 31)

In [204]:
labels.shape

(12316,)

In [206]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
lb.fit(labels)
label_encoded = lb.transform(labels)
print("Encoded labels:",lb.classes_)
label_en = pd.Series(label_encoded)

Encoded labels: ['Fatal injury' 'Serious Injury' 'Slight Injury']

In [208]:
label_en.value_counts()

2    10415
1     1743
0      158
dtype: int64

In [214]:
label_frame = label_en.to_frame()
label_frame.columns =['Accident_Severity']
label_frame.head()

   Accident_Severity
0                  2
1                  2
2                  1
3                  2
4                  2

In [215]:
final_df = pd.concat([data, label_frame], axis=1)

In [216]:
final_df.head()

,Day_of_week,Age_band_of_driver,Sex_of_driver,Educational_level,Vehicle_driver_relation,Driving_experience,Type_of_vehicle,Owner_of_vehicle,Service_year_of_vehicle,Defect_of_vehicle,...,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Work_of_casuality,Fitness_of_casuality,Pedestrian_movement,Cause_of_accident,Hour_of_Day,Accident_Severity
0,0,1,0,5,1,2,4,0,4,0,...,3,2,4,0,5,2,7,12,17,2
1,0,2,0,2,1,5,6,0,3,0,...,3,2,4,0,5,2,7,10,17,2
2,0,1,0,2,1,2,7,0,5,0,...,2,0,2,3,4,2,7,14,17,1
3,6,1,0,2,1,4,6,1,5,0,...,1,1,1,3,4,2,7,15,1,2
4,6,1,0,2,1,2,8,0,3,0,...,3,2,4,0,5,2,7,10,1,2

In [217]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12316 entries, 0 to 12315
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Day_of_week                  12316 non-null  int64
 1   Age_band_of_driver           12316 non-null  int64
 2   Sex_of_driver                12316 non-null  int64
 3   Educational_level            12316 non-null  int64
 4   Vehicle_driver_relation      12316 non-null  int64
 5   Driving_experience           12316 non-null  int64
 6   Type_of_vehicle              12316 non-null  int64
 7   Owner_of_vehicle             12316 non-null  int64
 8   Service_year_of_vehicle      12316 non-null  int64
 9   Defect_of_vehicle            12316 non-null  int64
 10  Area_accident_occured        12316 non-null  int64
 11  Lanes_or_Medians             12316 non-null  int64
 12  Road_allignment              12316 non-null  int64
 13  Types_of_Junction            12316 non-null  int64
 14  Road_surface_type            12316 non-null  int64
 15  Road_surface_conditions      12316 non-null  int64
 16  Light_conditions             12316 non-null  int64
 17  Weather_conditions           12316 non-null  int64
 18  Type_of_collision            12316 non-null  int64
 19  Number_of_vehicles_involved  12316 non-null  int64
 20  Number_of_casualties         12316 non-null  int64
 21  Vehicle_movement             12316 non-null  int64
 22  Casualty_class               12316 non-null  int64
 23  Sex_of_casualty              12316 non-null  int64
 24  Age_band_of_casualty         12316 non-null  int64
 25  Casualty_severity            12316 non-null  int64
 26  Work_of_casuality            12316 non-null  int64
 27  Fitness_of_casuality         12316 non-null  int64
 28  Pedestrian_movement          12316 non-null  int64
 29  Cause_of_accident            12316 non-null  int64
 30  Hour_of_Day                  12316 non-null  int64
 31  Accident_Severity            12316 non-null  int64
dtypes: int64(32)
memory usage: 3.0 MB

In [218]:
final_df.to_csv('dataset/final_clean_encoded.csv', index=False)